* {
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
    background-color: #f4e5d6;

}

/* Home */
.background {
    background-image: url("./Assets/ayodhya.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

}

.fo-si {
    font-size: 40px;
    font-weight: bolder;
}

.box-shad {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#blur-bg {
    display: none;
}

.blur-bg {
    background: rgb(237, 237, 237, .1);
    backdrop-filter: blur(10px);
}


/* About */
.about-img {
    background-image: url("./Assets/out.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    height: 500px;
}

.about {
    font-size: 40px;
    letter-spacing: 5px;
}

.line {
    display: inline-block;
    height: 3px;
    width: 100px;
    background-color: #c07830;
}

#abo-para {
    text-align: justify;
}

/* Navbar */
.nav-bar-list,
.nav-bar-link {
    display: flex;
    justify-content: space-evenly;
}

.nav-bar-link>a {
    text-decoration: none;
    font-weight: 500;

}

.nav-bar-link>a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.nav-bar-font {
    display: none;
}

.bor-radi {
    border-radius: 10px;
}

/* Side navbar */
.side-navbar {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -68%;
    padding: 10px;
    z-index: 1;
    transition: 2s;
}

.side-navbar > p {
    text-align: right;
    font-size: 25px;
}

.navbar-ul {
    list-style-type: none;
    margin-left: 10%;
}

.side-navbar-link {
    margin-top: 30px;
}

.side-navbar-link > a {
    text-decoration: none;
}

.side-navbar-link > a:hover {
    font-weight: bold;
}

/* Media Query */
/* xs */
@media screen and (max-width:576px) {
    .book-now {
        display: none;
    }

    .mob-view {
        display: none;
    }
}

/* sm */
@media screen and (min-width:576px) {
    .mob-view {
        display: none;
    }
}

/* md */
@media screen and (min-width:768px) {
    .mob-view {
        display: block;
    }

    .mob-view1 {
        display: none;
    }

    .space-adjust {
        margin: 12px 20px;
    }

}

/* lg */
@media screen and (min-width:992px) {
    .about {
        font-size: 60px;
    }

    .line {
        height: 6px;
        width: 200px;
    }
}

@media screen and (max-width:1200px) {
    #abo-para {
        font-size: 17px;
    }
}

@media screen and (max-width:768px) {
    .about-img {
        background-size: contain;
    }

    .nav-bar-font {
        display: block;
        font-size: 30px;
        font-weight: bolder;
    }

    .nav-bar-list {
        display: none;
    }
}

/* xl */
@media screen and (min-width:1200px) {}

/* xxl */
@media screen and (min-width:1400px) {}